<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Makao Game</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="{{ url_for('static', filename='js/script.js') }}" defer></script>
</head>
<body>
    <div id="game">
        <div id="computer-hand" class="hand"></div>
        <div id="discard-pile" class="hand"></div>
        <div id="player-hand" class="hand"></div>
        <div id="chat">
            <p>Start gierki!</p>
        </div>
        <div class="cards">
            <select name="play-input" id="play-input" size="5">
            
            </select>
        </div>
        <div class="action">
            <button id="draw-button">Zaciągnij kartę</button>
            <button id="play-button">Zagraj kartę</button>
            <button id="new-game-button">Zacznij nową gierkę</button>
        </div>
        
        <div class="wrapper">
            <div class="link_wrapper">
                <a href="./">Wróc do menu</a>
            </div>
        </div>
    </div>
    
</body>
</html>