<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index_styles.css') }}">
    <title>Makao</title>
</head>
<body>
    <main>
        <div>
            <h1>Makao</h1>
        </div>
        <div class="buttons">
            <div class="wrapper">
                <div class="link_wrapper">
                <a href="./gam">Graj</a>
                </div>
            </div>
            <div class="wrapper">
                <div class="link_wrapper">
                <a href="./instruction">Instrukcja</a>
                </div>
            </div>
        </div>
    </main>
</body>
</html>